a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
a:hover {
    opacity: 0.7;
}
li {
    list-style: none;
}
/* body {
    max-width: 1500px;
    margin: 0 auto;
}
縮小時もスタイルが崩れない */




@media screen and (max-width: 768px) {
    a {
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
    }
    a:hover {
        opacity: 0.7;
    }
    li {
        list-style: none;
    }
    img {
        width: 100%;
    }



    .header-ttl {
        position: absolute;
        position: fixed;
        top: 5px;
        left: 5px;
        font-size: 10vw;
        text-shadow: 3px 5px 5px #cecece;
    }
    .header-ttl a {
        color: #7e7e7e;
    }
    .header-list {
        position: absolute;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        background-color: #eee;
        transition: .7s;
        text-align: center;
        justify-content: center;
        padding-top: 80px;
    }
    .header-list-a {
        margin-top: 50px;
    }
    .header-hum-menu {
        display: inline-block;
        width: 36px;
        height: 32px;
        cursor: pointer;
        position: relative;
        right: 20px;
        top: 20px;
        position: fixed;
        background-color: #7e7e7e;
        padding: 10px;
    }
    .menu__line--top,
    .menu__line--middle,
    .menu__line--bottom {
        display: inline-block;
        width: 60%;
        height: 4px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
    }
    .menu__line--top {
        top: 10px;
    }
    .menu__line--middle {
        top: 23px;
    }
    .menu__line--bottom {
        bottom: 10px;
    }
    .header-hum-menu.open span:nth-of-type(1) {
        top: 24px;
        transform: rotate(45deg);
    }
    .header-hum-menu.open span:nth-of-type(2) {
        opacity: 0;
    }
    .header-hum-menu.open span:nth-of-type(3) {
        top: 24px;
        transform: rotate(-45deg);
    }
    .in {
        transform: translateX(100%);
    }



    .recruit-firstview h1 {
        padding-top: 150px;
        font-size: 8vw;
        text-align: center;
    }
    .recruit-firstview h2 {
        margin-top: 50px;
        font-size: 4vw;
        font-family: serif;
    }
    .recruit-firstview p {
        width: 60%;
        margin: 50px 0 0 auto;
        font-family: serif;
        font-size: 2vw;
    }

    .new-graduate {
        margin-top: 50px;
        padding: 10% 0;
        background-color: #ebebeb;
    }
    .new-graduate-ttl {
        margin: 0 auto 0;
        width: 90%;
        border-bottom: 3px solid #000;
        display: flex;
        justify-content: space-between;
        font-size: 3vw;
        font-family: serif;
        line-height: 1.2;
    }
    .new-graduate-content {
        margin: 50px auto 0;
        width: 90%;
    }
    .new-graduate-content p {
        line-height: 1.2;
        margin-top: 30px;
    }

    .mid-career {
        margin: 50px auto 0;
        padding: 10% 0 0 0;
        width: 90%;
    }
    .mid-career-ttl {
        border-bottom: 3px solid #000;
        display: flex;
        justify-content: space-between;
        font-size: 3vw;
        font-family: serif;
        line-height: 1.2;
    }
    .mid-career-content {
        margin-top: 50px;
    }
    .mid-career-content p {
        line-height: 1.2;
        margin-top: 30px;
    }

    .recruitment-ttl {
        margin-top: 100px;
        font-size: 6vw;
        text-align: center;
    }
    .recruitment-content {
        width: 80%;
        margin: 50px auto 0;
        border: 1px solid #000;
        padding: 3%;
    }
    .recruitment-content-item {
        text-align: center;
    }
    .recruitment-content-item h3 {
        font-size: 4vw;
    }
    .recruitment-content-item img {
        margin-top: 30px;
        width: 80%;
    }
    .recruitment-content-txt {
        margin-top: 30px;
    }

    .recruit-link {
        width: 70%;
        margin: 50px auto 0;
    }
    .recruit-link-item {
        display: block;
        text-align: center;
        padding: 10% 0;
        color: #000;
        border: 1px solid #000;
    }
    .recruit-link-item:hover {
        display: block;
        text-align: center;
        padding: 10% 0;
        color: #fff;
        background-color: #000;
        opacity: 1;
    }
    .recruit-link-item:nth-of-type(2) {
        margin-top: 20px;
    }
}









@media screen and (min-width: 769px) {
    header {
        position: relative;
    }
    .header {
        position: absolute;
        position: fixed;
        top: 15px;
        left: 30px;
        display: flex;
        justify-content: space-between;
        width: 95%;
        z-index: 10;
    }
    .header-ttl {
        font-size: 50px;
        text-shadow: 3px 5px 5px #cecece;
    }
    .header-ttl a {
        color: #7e7e7e;
    }
    .header-list {
        display: flex;
        align-items: center;
    }
    .header-list-a {
        color: #000;
    }
    .header-list-item:not(:last-child){
        margin-right: 30px;
    }



    .recruit-firstview {
        width: 80%;
        margin: 150px auto 0;
    }
    .recruit-firstview h1 {
        font-size: 64px;
        text-align: center;
    }
    .recruit-firstview h2 {
        margin-top: 100px;
        font-size: 36px;
        font-family: serif;
    }
    .recruit-firstview p {
        margin-top: 50px;
        font-family: serif;
        text-align: right;
    }

    .new-graduate {
        margin-top: 150px;
        padding: 100px 0;
        background-color: #ebebeb;
    }
    .new-graduate-ttl {
        width: 90%;
        border-bottom: 3px solid #000;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5;
    }
    .new-graduate-ttl h2 {
        font-size: 36px;
        font-family: serif;
    }
    .new-graduate-ttl h3 {
        font-size: 24px;
        font-family: serif;
    }
    .new-graduate-content {
        margin: 150px auto 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .new-graduate-content img{
        width: 45%;
    }
    .new-graduate-content p {
        width: 45%;
        font-size: 24px;
    }

    .mid-career {
        margin-top: 100px;
        padding: 100px 0;
    }
    .mid-career-ttl {
        width: 90%;
        border-bottom: 3px solid #000;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5;
    }
    .mid-career-ttl h2 {
        font-size: 36px;
        font-family: serif;
    }
    .mid-career-ttl h3 {
        font-size: 24px;
        font-family: serif;
    }
    .mid-career-content {
        margin: 150px auto 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mid-career-content img{
        width: 45%;
    }
    .mid-career-content p {
        width: 45%;
        font-size: 24px;
    }

    .recruitment {
        margin-top: 100px;
        padding: 100px 0;
    }
    .recruitment-ttl {
        width: 90%;
        border-bottom: 3px solid #000;
        margin: 0 auto;
        line-height: 1.5;
    }
    .recruitment-ttl h2 {
        font-size: 36px;
        font-family: serif;
    }
    .recruitment-content {
        width: 70%;
        margin: 50px auto 0;
        border: 1px solid #000;
        display: flex;
    }
    .recruitment-content-item {
        width: 35%;
        margin: auto auto;
    }
    .recruitment-content-item h3{
        font-size: 24px;
        text-align: center;
    }
    .recruitment-content-item img {
        width: 100%;
        height: 250px;
    }
    .recruitment-content-txt {
        width: 60%;
        margin: 0 auto;
    }

    .recruit-link {
        width: 65%;
        margin: 100px auto 50px;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-family: serif;
    }
    .recruit-link-item {
        border: 1px solid #000;
        width: 49%;
        height: 320px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recruit-link-item:hover {
        border: 1px solid #000;
        width: 49%;
        height: 320px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        opacity: 1.0;
    }
}